version: 2
updates:
  # go dependencies
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      aws:
        patterns:
        - "github.com/aws/*"

  # GitHub actions
  - package-ecosystem: "github-actions"
    directory: "/"
    reviewers:
      - "elastic/observablt-ci"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "22:00"
    groups:
      github-actions:
        patterns:
          - "*"

  # GitHub composite actions
  - package-ecosystem: "github-actions"
    directory: "/.github/actions/bootstrap"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "22:00"
    reviewers:
      - "elastic/observablt-ci"
    groups:
      github-actions:
        patterns:
          - "*"
