version: 2
updates:
  # go dependencies
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      aws:
        patterns:
        - "github.com/aws/*"
  # go tools
  - package-ecosystem: "gomod"
    directory: "tools/"
    schedule:
      interval: "weekly"

  # GitHub actions
  - package-ecosystem: "github-actions"
    directories:
      - "/"
      - "/.github/actions/*"
    reviewers:
      - "elastic/observablt-ci"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "22:00"
    groups:
      github-actions:
        patterns:
          - "*"
