{{- define "depInfo" -}}
{{- range $i, $dep := . }}
{{ "-" | line }}
Dependency : {{ $dep.Name }}
Version: {{ $dep.Version }}
Licence type (autodetected): {{ $dep.LicenceType }}
{{ "-" | line }}

{{ $dep | licenceText }}
{{ end }}
{{- end -}}

Elastic APM AWS Lambda extension
Copyright 2021-{{ currentYear }} Elasticsearch BV

{{ "=" | line }}
Third party libraries used by the Elastic APM AWS Lambda extension.
{{ "=" | line }}

{{ template "depInfo" .Direct }}

{{ if .Indirect }}
{{ "=" | line }}
Indirect dependencies

{{ template "depInfo" .Indirect -}}
{{- end}}
