name: smoke-tests

on:
  workflow_dispatch:
    inputs:
      smoketest_versions:
        description: Set SMOKETEST_VERSIONS environment variable
        default: latest
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      SSH_KEY: "./id_rsa_terraform"
      TF_VAR_private_key: "./id_rsa_terraform"
      TF_VAR_public_key: "./id_rsa_terraform.pub"
      TF_VAR_user_name: "${{ github.repository }}/actions/runs/${{ github.run_id }}"

      TF_VAR_BUILD_ID: "${{ github.run_id }}"
      TF_VAR_ENVIRONMENT: 'ci'
      TF_VAR_BRANCH: ${{ github.event.pull_request.head.ref }} # "${{ github.ref_name }}"
      TF_VAR_REPO: "${{ github.repository }}"
      SMOKETEST_VERSIONS: "${{ inputs.smoketest_versions }}"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
      - name: Import Secrets
        uses: hashicorp/vault-action@v2.4.2
        with:
          url: ${{ secrets.VAULT_ADDR }}
          method: approle
          roleId: ${{ secrets.VAULT_ROLE_ID }}
          secretId: ${{ secrets.VAULT_SECRET_ID }}
          secrets: |
            secret/observability-team/ci/elastic-observability-aws-account-auth access_key | AWS_ACCESS_KEY_ID ;
            secret/observability-team/ci/elastic-observability-aws-account-auth secret_key | AWS_SECRET_ACCESS_KEY ;
            secret/observability-team/ci/elastic-cloud/observability-pro apiKey | EC_API_KEY
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.2.3
      - run: make smoketest/run TEST_DIR=./tf
      - if: always()
        run: make smoketest/all/cleanup TEST_DIR=./tf
