name: test

on:
  pull_request:
    paths-ignore:
      - "**/*.asciidoc"
      - "**/*.md"
      - "**/*.png"
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.asciidoc"
      - "**/*.md"
      - "**/*.png"

permissions:
  contents: read

## Concurrency only allowed in the main branch.
## So old builds running for old commits within the same Pull Request are cancelled
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - "ubuntu-latest"
          - "macos-latest"
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6
      - name: Bootstrap Action Workspace
        uses: ./.github/actions/bootstrap
      - name: Test
        run: make test

  build:
    runs-on: ubuntu-latest
    permissions:
      attestations: write
      artifact-metadata: write
      contents: read
      id-token: write
      pull-requests: read
    steps:
      - uses: actions/checkout@v6

      - name: Bootstrap Action Workspace
        uses: ./.github/actions/bootstrap
        with:
          goreleaser: 'true'

      - name: Build
        run: make build dist

      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: snapshots
          path: "dist/*.*"
          retention-days: 5

      - name: generate build provenance (binaries)
        if: github.event.pull_request.head.repo.full_name == github.repository
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: "${{ github.workspace }}/dist/*.*"

      # See https://github.com/github-early-access/generate-build-provenance/issues/162
      - name: container image digest
        id: image
        run: .ci/get-docker-provenance.sh

      - name: generate build provenance (containers x86_64)
        if: github.event.pull_request.head.repo.full_name == github.repository
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ steps.image.outputs.name_1 }}
          subject-digest: ${{ steps.image.outputs.digest_1 }}

      - name: generate build provenance (containers arm64)
        if: github.event.pull_request.head.repo.full_name == github.repository
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ steps.image.outputs.name_2 }}
          subject-digest: ${{ steps.image.outputs.digest_2 }}

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Bootstrap Action Workspace
        uses: ./.github/actions/bootstrap
      - run: make lint-prep
      - run: make lint
      - run: go vet
  notice:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Bootstrap Action Workspace
        uses: ./.github/actions/bootstrap
      - name: notice
        run: make check-notice

  # The very last job to report whether the Workflow passed.
  # This will act as the Branch Protection gatekeeper
  ci:
    if: always()
    needs:
      - build
      - lint
      - notice
      - test
    runs-on: ubuntu-latest
    steps:
      - id: check
        uses: elastic/oblt-actions/check-dependent-jobs@v1
        with:
          jobs: ${{ toJSON(needs) }}
      - run: ${{ steps.check.outputs.is-success }}
