---
## Workflow to process the JUnit test results and add a report to the checks.
name: test-reporter
on:
  workflow_run:
    workflows:
      - test
    types:
      - completed

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - uses: elastic/oblt-actions/test-report@db0844c27572a45966ce669e4d3073c205c8d5e4 # v1
        with:
          artifact: /test-results(.*)/
          name: 'Test Report $1'
          path: "*-junit-report.xml"        # Path to test results (inside artifact .zip)
          reporter: java-junit              # Format of test results
